<!DOCTYPE html>
<html lang="en-us">

<head>

  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <title>Fake News Detection</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link rel="stylesheet" type="text/css" href="../static/css/style.css"/>

</head>
<body>
    
    <div class="header">
      <h1>Facehug prediction</h1>
      <p>A fake headline detector app</p>
    </div>
    
    <div class="navbar">
      <a href="{{ url_for('home') }}">Home</a>
      <a href="{{ url_for('facehug_baseline') }}">Facehug baseline</a>
      <a href="{{ url_for('facehug_baseline') }}" class="active">Facehug baseline</a>
      <a href="{{ url_for('prediction') }}">Headline prediction</a>
      <a href="{{ url_for('predict_body') }}">Body prediction</a>
      <a href="{{ url_for('visualization') }}">Word visualization</a>
      <a href="{{ url_for('analysis') }}">Analysis</a>
    </div>

  <!-- Content Section -->

    <div class='row'> 
      <div class= "col-3"></div>
      <h3 class="col-6">Facehugging fake news detector</h3>
    </div>
    <br>
    <div class='row'> 
      <div class= "col-3"></div>
      <p class="col-6">
        The following is a pretrained RoBERTa model to be used as a baseline. Links: 
        <a href="https://huggingface.co/ghanashyamvtatti/roberta-fake-news?text=this+is+a+fake+news+test%21">Model</a>;
        <a href="https://www.kaggle.com/clmentbisaillon/fake-and-real-news-dataset">Dataset</a>
      </p>
    </div>
    <br>
    <div class='row'> 
      <div class= "col-3"></div>
      <form class ="col-6" action="/prediction" method="POST">
        <textarea name="text" style='width:500px; height: 100px' placeholder="Copy/paste a news copy into this field"></textarea>
        <input type="submit" value="Predict!">
      </form>
    </div>
    <br>
    <div class='row'> 
      <div class= "col-3"></div>    
      <h4 class= "col-2">Text:</h4>
    </div>
    <div class='row'> 
      <div class= "col-3"></div>   
      <p class= "col-6">{{ text }}</p>
    </div>
    <br>
    <div class='row'> 
      <div class= "col-3"></div>   
      <h4 class= "col-2">Facehugging prediction:</h4>
    </div>
    <div class='row'> 
      <div class= "col-3"></div>   
      <h4 class= "col-2" style="color: {{ prediction_color }}; text-shadow: 0 0 1px black, 0 0 1px black, 0 0 1px black, 0 0 1px black;">{{ pred }}</h4>
    </div>
    <div class='row'> 
      <div class= "col-3"></div>   
      <h4 class= "col-2">Probability:</h4>
    </div>
    <div class='row'> 
      <div class= "col-3"></div>   
      <h4 class= "col-2" style="color: {{ percent_color }}; text-shadow: 0 0 2px black, 0 0 1px black, 0 0 1px black, 0 0 1px black;">{{ prob }}</h4>
    </div>
    <br>
  
    <div class="footer">
      <h4>UT Data Analysis and Visualization Boot Camp</h4>
      <small> Team Members:  Travis, Daniel, Rolando, Usman, Blanca</small>
    </div>



  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
  <link rel="stylesheet" href="style.css">


</body>

</html>