<!DOCTYPE html>
<html lang="en-us">

<head>

  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <title>Fake News Detection</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link rel="stylesheet" type="text/css" href="../static/css/style.css"/>

</head>
<body>
    
    <div class="header">
      <h1>Fake news detection</h1>
      <p>Predicting fake news with machine learning</p>
    </div>
    
    <div class="navbar">
      <a href="{{ url_for('home') }}" class="active">Home</a>
      <a href="{{ url_for('facehug_baseline') }}">RoBERTa baseline</a>
      <a href="{{ url_for('prediction') }}">Headline prediction</a>
      <a href="{{ url_for('predict_body') }}">Body prediction</a>
      <a href="{{ url_for('visualization') }}">Word visualization</a>
      <a href="{{ url_for('analysis') }}">Analysis</a>
    </div>

  <!-- Content Section -->

  <div class="main">
    <div class='row'>
      <div class='col-3'></div>
      <h2 class='col-6'>Overview</h2>
    </div>
    <div class='row'>
      <div class='col-3'></div>
      <p class='col-6'>
        This project and app will use machine learning to analyze fake news articles to discover meaningful insights and possibly detect if text is "fake news."  
        We will use labeled datasets to train a machine learning model.  
        This project will use natural language processing to detect fake news directly, based on the text content in news articles from a variety of sources.
      </p>
    </div>
    <!-- <img src="FB_interaction.png"> -->
    <br>
    <div class='row'>
      <div class='col-3'></div>
      <h4 class='col-6'>Problem definition</h4>
    </div>
    <div class='row'>
      <div class='col-3'></div>
      <p class='col-6'>
        There are many categories that misinformation falls into, including articles that
        are completely false, articles that provide truthful information but make
        false interpretations, and articles that provide opinions disguised as news. There are also
        articles from tweets and quotes from people other than news organizations.
        For this project, we define "fake news" as containing inflammatory or sensationalized information. 
        This should be detectable with an ML model trained using tf–idf features/words. 
      </p>
    </div>

    <br>
    <div class='row'>
      <div class='col-3'></div>
      <h4 class='col-6'>Hypothesis</h4>
    </div>
    <div class='row'>
      <div class='col-3'></div>
      <p class='col-6'>The model was able to predict whether an article contains fake news based on tf–idf input.</p>
    </div>
    <div class='row'>
      <div class='col-3'></div>
      <h4 class='col-6'>Null Hypothesis</h4>
    </div>
    <div class='row'>
      <div class='col-3'></div>
      <p class='col-6'>The model was not able to predict whether an article contains fake news based on tf–idf input.</p>
    </div>
  </div>
</div>

<div class="footer">
  <h4>UT Data Analysis and Visualization Boot Camp</h4>
  <small> Team Members:  Travis, Daniel, Rolando, Usman, Blanca</small>
</div>

  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
  <link rel="stylesheet" href="style.css">

</body>

</html>
