<!DOCTYPE html>
<html lang="en-us">

<head>

  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <title>Fake News Detection</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link rel="stylesheet" type="text/css" href="../static/css/style.css"/>

</head>
<body>

    <div class="header">
      <h1>Body copy prediction</h1>
      <p>A fake body copy detector app</p>
    </div>
    
    <div class="navbar">
      <a href="{{ url_for('home') }}">Home</a>
      <a href="{{ url_for('facehug') }}">RoBERTa baseline</a>
      <a href="{{ url_for('prediction') }}">Headline prediction</a>
      <a href="{{ url_for('predict_body') }}" class="active">Body prediction</a>
      <a href="{{ url_for('visualization') }}">Word visualization</a>
      <a href="{{ url_for('analysis') }}">Analysis</a>
    </div>

  <!-- Content Section -->

  <div class='row'> 
    <div class= "col-3"></div>
    <h3 class="col-6">Fake body copy detector (a lesson in "overfitting")</h3>
  </div>
  <br>
  <div class='row'> 
    <div class= "col-3"></div>
    <p class="col-6">
      The following two body copy classifier models are a linear support vector machine and a "passive-aggressive" classifier. They are also trained on two different datasets.
      Model one is an SVM trained on a large 38,000+ record dataset and achieved an accuracy score of 0.976 and an F1 score of 0.978. 
      Concerned about "overfitting," the second model was also an SVM trained using a smaller dataset to account for any leakage, errors and over/under-representation in the large dataset.
      Model 2 achieved a lower, but perhaps more realistic accuracy score of 0.92. 
    </p>
  </div>
  <br>
  <div class='row'> 
    <div class= "col-3"></div>
    <form class ="col-6" action="/predict_body" method="POST">
      <textarea name="text" style='width:500px; height: 100px' placeholder="Copy/paste body copy into this field"></textarea>
      <input type="submit" value="Predict!">
    </form>
  </div>
  <br>
  <div class='row'> 
    <div class= "col-3"></div>   
    <h4 class= "col-2">Larger-dataset prediction:</h4>
    <div class= "col-1"></div>   
    <h4 class= "col-2">Smaller-dataset prediction:</h4>
  </div>
  <div class='row'> 
    <div class= "col-3"></div>   
    <h4 class= "col-2" style="color: {{ pipeline1.prediction_color }}; text-shadow: 0 0 1px black, 0 0 1px black, 0 0 1px black, 0 0 1px black;">{{ pipeline1.prediction }}</h4>
    <div class= "col-1"></div>   
    <h4 class= "col-2" style="color: {{ pipeline2.prediction_color }}; text-shadow: 0 0 1px black, 0 0 1px black, 0 0 1px black, 0 0 1px black;">{{ pipeline2.prediction }}</h4>
  </div>
  <div class='row'> 
    <div class= "col-3"></div>   
    <h4 class= "col-2">Probability:</h4>
    <div class= "col-1"></div>   
    <h4 class= "col-2">Probability:</h4>
  </div>
  <div class='row'> 
    <div class= "col-3"></div>   
    <h4 class= "col-2" style="color: {{ pipeline1.percent_color }}; text-shadow: 0 0 2px black, 0 0 1px black, 0 0 1px black, 0 0 1px black;">{{ pipeline1.percent }}</h4>
    <div class= "col-1"></div>   
    <h4 class= "col-2" style="color: {{ pipeline2.percent_color }}; text-shadow: 0 0 2px black, 0 0 1px black, 0 0 1px black, 0 0 1px black;">{{ pipeline2.percent }}</h4>
  </div>
  <br>
  <div class='row'> 
    <div class= "col-3"></div>    
    <h4 class= "col-2">Body copy:</h4>
  </div>
  <div class='row'> 
    <div class= "col-3"></div>   
    <p class= "col-6">{{ headline }}</p>
  </div>
  <br>
  
    <div class="footer">
      <h4>UT Data Analysis and Visualization Boot Camp</h4>
      <small> Team Members:  Travis, Daniel, Rolando, Usman, Blanca</small>
    </div>



  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
  <link rel="stylesheet" href="style.css">


</body>

</html>