-f https://download.pytorch.org/whl/torch_stable.html
torch==1.8.1+cpu
appnope
decorator
Flask
ipython
ipython-genutils
itsdangerous
Jinja2
pickleshare
psycopg2
ptyprocess
simplegeneric
numpy
wcwidth
Werkzeug
gunicorn
transformers
joblib
sklearn