<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>Fake News Predictor</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <!-- <link rel="stylesheet" href="style.css"> -->
</head>
<body>
  <br>
  <div class='row'> 
    <div class= "col-1"></div>
    <h2>Fake News Predictor</h2>
  </div>
  <br>
  <div class='row'> 
    <div class= "col-1"></div>
    <form action="/" method="post">
      <textarea name="text" style='width:500px; height: 100px';>Copy/paste a headline into this field</textarea>
      <input type="submit" value="Predict!">
    </form>
  </div>
  <br>
  <div class='row'> 
    <div class= "col-1"></div>    
    <h5>Headline:</h5>
  </div>
  <div class='row'> 
    <div class= "col-1"></div>   
    <h4>{{ headline }}</h4>
  </div>
  <br>
  <div class='row'> 
    <div class= "col-1"></div>   
    <h5>Prediction:</h5>
  </div>
  <div class='row'> 
    <div class= "col-1"></div>   
    <h4 style="color: {{ prediction_color }}; text-shadow: 0 0 1px black, 0 0 1px black, 0 0 1px black, 0 0 1px black;">{{ prediction }}</h4>
  </div>
  <br>
  <div class='row'> 
    <div class= "col-1"></div>   
    <h5>Confidence:</h5>
  </div>
  <div class='row'> 
    <div class= "col-1"></div>   
    <h4 style="color: {{ percent_color }}; text-shadow: 0 0 2px black, 0 0 1px black, 0 0 1px black, 0 0 1px black;">{{ percent }}%</h4>
  </div>
</body>
</html>
